body {
  padding: 0;
  margin: 0;
  background: ##00bfff;
}
/*--- navigation bar ---*/
.navbar {
  background:#00bfff;
}
.nav-link,
.navbar-brand {
  color: #fff;
}
.navbar-brand:hover {
  color: #00ffff;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #00ffff;
}
.navbar-collapse {
  justify-content: flex-end;
}
.header {
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  color: #fff;
}
.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}


{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

.body {
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  color:#fff;
  padding: 50px;
}

a {
  color: orange;
}